.dropdownlabeldiv {
    display: flex;
    margin: 3%;
}

.dropdowndiv {
    margin-left: 3%;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.labelstyle {
    font-size: 200%;
    text-decoration: none;
    font-family: "Poppins";
}

.dropdown {
    height: 100%;
    width: 100%;
    background-color: #ededed;
    border-width: 0;
    border-radius: 10px;
    font-family: "Poppins";
    font-size: 150%;
}

.buttontext {
    font-size: 30px;
    text-decoration: none;
    font-family: "Poppins";
    display: flex;
    padding: 1%;
    margin: auto;
}

.button {
    border-radius: 40px;
    background-color: #ededed;
    border-width: 0;
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    width: 360px;
    text-align: center;
}

.button:hover{
    background-color: grey;
    transition: 0.7s;
}

.buttondiv {
    display: flex;
}

.closetlistdiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.alldropdownsbutton {
    margin-top: 2%;
    margin-left: 2%;
    display: flex;
    width: 50%;
    flex-direction: column;
}

.total {
    display: flex;
}

.listitemdiv {
    padding: 10px;
    margin: 20px;
    width: 190px;
    height: 115px;
    background-color: #ededed;
    border-radius: 10px;
}

.listdiv {
    width: 800px;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: -3%;
    display: flex;
    flex-wrap: wrap;
}

.clothingtext {
    text-decoration: none;
    font-family: "Poppins";
    font-size: 120%;
}
