.backgroundColor  {
    background-color: white;
    display: flex;
    overflow-y: hidden;
    padding-bottom: 18vh;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    background-color: #ededed;
    width: 40%;
    height: 76vh;
    border-radius: 20px;

}

.block {
    display: flex;
    flex-direction: column;
}

.signintext {
    font-family: "Poppins";
    font-size: 4em;
    color: black;
    text-align: center;
    margin-top: 10px;
}

.form {
    width: 100%;
    margin: auto;
}


label {
    font-family: "Poppins";
    font-size: x-large;
}

.fieldwide {
    width: 60%;
}
.center {
    margin: auto;
}

.padding {
    padding: 30px;
}

input[type=text] {
    height: 3vh;
    border-radius: 8px;
    padding: 2%;
    font-size: 20px;
    font-family: "Poppins";
    margin-bottom: 5%;
}
input[type=password] {
    height: 3vh;
    border-radius: 8px;
    padding: 2%;
    font-size: 20px;
    font-family: "Poppins";
}

input[type=submit] {
    font-family: "Poppins";
    font-size: 25px;
    background-color: white;
    border-radius: 15px;
    height: 7vh;
    width: 20%;
    position: relative;
    left: 40%;
    
}
.centerpadding {
    margin-left: 10%;
}
